<div class="row justify-content-center nav mt-5">
    <div class="col logo">
        <img src="/images/eNational-logo.png" alt="Avatar Logo" class="rounded">
    </div>
    <div class="col d-flex flex-column align-self-start">
        <p class="text-dark fs-4 fw-bold mb-1">Overview</p>
        <a href="/" class="botnavhref">Home</a>
        <a href="/books" class="botnavhref">Books</a>
        <a href="/books/authors" class="botnavhref">Authors</a>
        <a href="/books/publishers" class="botnavhref">Publishers</a>
        <div>
            <a href="/books/special-docs" class="botnavhref">Special Documents</a>
            <span class="fa fa-star checked"></span> 
        </div>  
        <a href="/news-offers" class="botnavhref">News & Offers</a>
        <a href="/user/subscribe" class="botnavhref">Subscription</a>
    </div>
    <div class="col d-flex flex-column align-self-start">
        <p class="text-dark fs-4 fw-bold my-0">Insight</p>
        <a href="#" class="botnavhref">About our team</a>
        <a href="#" class="botnavhref">About the project</a>
    </div>
    <div class="col d-flex flex-column align-self-start">
        <p class="text-dark fs-4 fw-bold my-0">Contact</p>
        <a href="#" class="botnavhref">Hotline: 0123456789</a>
        <a href="#" class="botnavhref">Email: eNationalLibrary@veritas.com</a>
    </div>
</div>
