<div class="container-fluid flex-column mt-4" style="height: 12vh;">
    <a class="navbar-brand ms-3 float-start" href="/">
        <img src="/images/eNational-logo.png" alt="Avatar Logo" style="width:120px;" class="rounded">
    </a>
    <% if (popup) { %>
    <a class="float-end me-3" href="javascript:history.back()">
        <img src="/images/closeButton.png" alt="Close Button" style="width:40px;" class="rounded">
    </a>
    <% } %>
</div>