<html>
    <style>
        div {text-align: center;}
    </style>
    <head>
        <%- include('./partials/head'); %>
    </head>

    <body style="background-color: white;">
        <header>
          <%- include('./partials/nav-simple'); %>
        </header>
        <div>
            <div class="my-0 py-0">
                <p style="color: #A688E3; font-size: 126px; font-family: Roboto Serif; font-weight: bold;">Register Success</p>
            </div>
            <a class="px-4 mt-4 btn enabledbtn" href="/">Back to Home Page</a>
        </div>
    </body>
</html>